extends layouts/_layout.pug

block variables
	- var activePage = 'all assets';
	- var activeGroup = 'assets';

block title
	title CAMS

block content
	.app-title
		div
			h1
				i.bi.bi-table
				|  All Assets
			//- p Table to display analytical data effectively

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				a(href='dashboard' class={'active': activePage == 'dashboard'})
					i.bi.bi-house-door.fs-6

			li.breadcrumb-item
				| Assets
			li.breadcrumb-item.active
				a(href="#") All Assets

	.row
		.col-md-12
			.tile
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th s/n
									th Serial number
									th Asset name
									th Model
									th Acquisition date
									th Condition
									th Status
									th Action
							tbody
								if assets.length
									each asset, index in assets
										tr
											td #{index + 1}
											td #{asset.Serial_no}
											td #{asset.AssetName}
											td #{asset.Model}
											td #{asset.AcquisitionDate}
											td #{asset.ConditionName}
											td #{asset.Status}
											td 
												button.btn.btn-info.text-white(type='button')
													i.icon.bi.bi-eye-fill
												button.btn.btn-warning.text-white(type='button')
													i.icon.bi.bi-pen-fill
												button.btn.btn-danger(type='button')
													i.icon.bi.bi-trash-fill

								else
									tr
										td(colspan='8') No Assets found.	


block specific-js
	link(rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css")

	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();
