extends layouts/_layout.pug

block variables
	- var activePage = 'all staffs';
	- var activeGroup = 'staffs';

block title
	title CAMS

block content
	.app-title
		div
			h1
				i.bi.bi-table
				|  All Staffs
			//- p Table to display analytical data effectively

		ul.app-breadcrumb.breadcrumb.side
			li.breadcrumb-item
				a(href='dashboard' class={'active': activePage == 'dashboard'})
					i.bi.bi-house-door.fs-6

			li.breadcrumb-item
				| Staffs
			li.breadcrumb-item.active
				a(href="#") All Staffs

	.row
		.col-md-12
			.tile
				.tile-body
					.table-responsive
						table.table.table-hover.table-bordered#sampleTable
							thead
								tr
									th s/n
									th Full name
									th Email
									th Phone number
									th Position
									th Action
							tbody
								if staffs.length
									each staff, index in staffs
										tr
											td #{index + 1}
											td #{staff.First_name} #{staff.Last_name} 
											td #{staff.Email}
											td #{staff.Phone_no}

											if staff.Role == 1
												td Admin

											else
												td Staff

											td 
												button.btn.btn-info.text-white(type='button')
													i.icon.bi.bi-eye-fill
												button.btn.btn-warning.text-white(type='button')
													i.icon.bi.bi-pen-fill
												button.btn.btn-danger(type='button')
													i.icon.bi.bi-trash-fill

								else
									tr
										td(colspan='6') No Staffs found.	


block specific-js
	link(rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css")

	// Data table plugin
	script(type='text/javascript', src="js/plugins/jquery.dataTables.min.js")
	script(type='text/javascript', src="js/plugins/dataTables.bootstrap.min.js")
	script(type='text/javascript').
		$('#sampleTable').DataTable();
